<div class="row justify-content-md-center profile-form">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h3 class="mb-0">Sign Up</h3>
      </div>
      <div class="card-body">
        <%= form_for @user, url: form_path do |f| %>
          <div class="form-group">
            <%= f.label :email, 'E-Mail Address' %>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <%= f.label :first_name, 'First Name' %>
              <%= f.text_field :first_name, class: 'form-control' %>
            </div>
            <div class="form-group col">
              <%= f.label :last_name, 'Last Name' %>
              <%= f.text_field :last_name, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :password, 'Password' %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          <%= f.submit button_text, class: 'btn btn-info btn-lg float-right' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

